<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
  <title>Configure</title>
  {% include 'sources.html' %}

  <script>
    Middleware.restrictTo('brewer')
  </script>
</head>

<body>
  {% include 'navbar.html' %}
  <div id="configure">
    <!-- Create Section -->
    <div class="uk-section">
      <div class="uk-container">
        <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
          <div>
            <h2 class="uk-heading-secondary">Create a Configuration</h2>
            <p>Enter a name to create a new one, or select one in the navbar to edit</p>
            <div class="uk-margin">
              <input v-model="config.name" class="uk-input" type="text" placeholder="Configuration Name">
              <p v-if="config.id">Configuration ID: <code>{{ config.id }}</code></p>
            </div>
            <div class="uk-margin">
              <button class="uk-button uk-button-primary">Save</button>
            </div>
          </div>
          <div>
            <h2 class="uk-heading-secondary">Slack</h2>
            <div class="uk-margin">
              <input v-model="config.slackWebhook" class="uk-input" type="text" placeholder="Slack Webhook">
            </div>
            <div class="uk-margin">
              <input v-model="config.slackChannel" class="uk-input" type="text" placeholder="Slack Channel">
            </div>
            <div class="uk-margin">
              <button @click="testSlack" class="uk-button uk-button-primary">Test</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Device Section -->
    <div class="uk-section uk-section-muted">
      <div class="uk-container">
        <div uk-grid>
          <!-- New Device -->
          <div class="uk-width-1-3">
            <div class="uk-card uk-card-default uk-card-body">
              <h4>New Device</h4>
              <!-- Name -->
              <div class="uk-margin">
                <input v-model="newDevice.name" class="uk-input" type="text" placeholder="Name" required>
              </div>
              <!-- Type -->
              <div class="uk-margin">
                <select v-model="newDevice.type" class="uk-select" required>
                  <option value="divert">Divert Valve</option>
                  <option value="onOff">On/Off Valve</option>
                  <option value="pump">Pump</option>
                  <option value="thermostat">Thermostat</option>
                </select>
              </div>
              <!-- Address -->
              <div class="uk-margin">
                <input v-show="newDevice.type != 'thermostat'" v-model="newDevice.address" class="uk-input" type="text" placeholder="Address">
              </div>
              <!-- Controller Address -->
              <div class="uk-margin">
                <input v-model="newDevice.controller_address" class="uk-input" type="text" placeholder="Controller Address" required>
              </div>
              <!-- On/Off state -->
              <div class="uk-margin">
                <div uk-grid class="uk-child-width-expand@m">
                  <div>
                    <input v-model="newDevice.states['0']" class="uk-input" type="text" placeholder="Off State" required>
                  </div>
                  <div class="uk-width-1-6">
                    or
                  </div>
                  <div>
                    <input v-model="newDevice.states['1']" class="uk-input" type="text" placeholder="On State" required>
                  </div>
                </div>
              </div>
              <!-- Save -->
              <button @click="addDevice()" class="uk-button uk-button-primary">Save</button>
            </div>
          </div>
          <!-- Device Display -->
          <div class="uk-width-2-3">
            <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
              <div v-for="device in config.devices">
                <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle uk-card-body">
                  <dl>
                    <dt>{{ device.name }}</dt>
                    <dd>Type: {{ device.type }}</dd>
                    <dd v-show="device.type != 'thermostat'">Address: {{ device.address }}</dd>
                    <dd>Controller Address: {{ device.controller_address }}</dd>
                    <dd>States: {{ device.states[0] }} or {{ device.states[1] }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="%% url_for('static', filename='js/configure.js') %%"></script>
</body>

</html>
