<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
    <title>Dashboard</title>
    {% include 'sources.html' %}
    <script>
      Middleware.restrictTo('brewer')
    </script>
  </head>

<body>
  <div id="dashboard">
    <main-navbar @select-config="selectConfig($event)"></main-navbar>
    <promote></promote>
    <!-- Tools -->
    <div class="uk-section">
      <div class="uk-container">
        <!-- Tool Grid -->
        <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
          <!-- Timer -->
          <div>
            <h1 v-show="done" class="uk-heading-primary">Done</h1>
            <div v-show="!done" id="timerCountdown" class="uk-grid-small uk-child-width-auto" uk-grid>
              <!-- Hours -->
              <div>
                <div class="uk-countdown-number uk-countdown-hours"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
              </div>
              <div class="uk-countdown-separator">:</div>
              <!-- Minutes -->
              <div>
                <div class="uk-countdown-number uk-countdown-minutes"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
              </div>
              <div class="uk-countdown-separator">:</div>
              <!-- Seconds -->
              <div>
                <div class="uk-countdown-number uk-countdown-seconds"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
              </div>
            </div>
            <div class="uk-margin uk-align-left">
              <div class="uk-margin">
                <input @keydown.enter="startTimer" v-model="timerInput" class="uk-input" type="text" placeholder="Duration">
              </div>
              <button @click="startTimer" class="uk-button uk-button-primary">Start</button>
              <!-- <button @click="stopTimer" class="uk-button uk-button-secondary">Clear</button> -->
              <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input v-model="sendWhenDone" class="uk-checkbox" type="checkbox" checked> Send slack message when done</label>
              </div>
            </div>
          </div>
          <!-- Slack -->
          <div>
            <h2 class="uk-heading-secondary">
              Slack
              <a href="https://navasotabrewing.slack.com" target="new">
                <img src="%% url_for('static', filename='images/slack_circular.png') %%" alt="The Navasota Brewing Slack Channel" width="40px" class="uk-align-right">
              </a>
            </h2>
            <p class="uk-text-meta">Posting to {{ config.slackChannel }}</p>
            <div class="uk-margin">
              <textarea :disabled="!config.slackWebhook" v-model="slackMessage" class="uk-textarea" rows="3" placeholder="Slack Message"></textarea>
            </div>
            <button :disabled="!config.slackWebhook" @click="sendSlackMessage" class="uk-button uk-button-default">
              Send
              <span uk-icon="icon: arrow-right"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Valves -->
    <div class="uk-section uk-section-muted">
      <div class="uk-container">
        <device-summary :devices="config.devices" :include-thermos="false" @new-sv="setSv($event)"></device-summary>
      </div>
    </div>
    <!-- Thermostats -->
    <div class="uk-section">
      <div class="uk-container">
        <div uk-grid>
          <div class="uk-width-auto@m">
            <!-- Tab list -->
            <ul class="uk-tab-left" id="thermo-tabs" uk-tab="connect: #thermo-content; animation: uk-animation-fade; active: -1">
              <li></li>
              <li v-for="thermo in thermos">
                <a href="#">
                  {{ thermo.name }}
                </a>
              </li>
            </ul>
          </div>
          <div class="uk-width-expand@m">
            <ul id="thermo-content" class="uk-switcher">
              <li></li>
              <li v-for="thermo in thermos">
                <thermo-chart :thermo="thermo" @new-sv="enact" class="uk-height-medium"></thermo-chart>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

<script src="%% url_for('static', filename='js/index.js') %%"></script>

</html>
