<!DOCTYPE html>
<html>

<head>
  {% include 'header.html' %}
  <title>Login</title>
  {% include 'sources.html' %}
  <script>
    if (Middleware.loggedIn()) {
      Middleware.redirect('/')
    }
  </script>
</head>

<body>
  <div id="login">
    <div class="uk-height-viewport uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="%% url_for('static', filename='images/big_ole_ton.jpg') %%" uk-img>
      <div uk-grid>
        <div class="uk-container">
          <!-- Login Card -->
          <div id="loginCard" v-if="!registerCard" class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title">Login</h3>
            <div class="uk-margin">
              <input @keydown.enter="login()" v-model="user.username" class="uk-input" type="text" placeholder="Username">
            </div>
            <div class="uk-margin">
              <input @keydown.enter="login()" v-model="user.password" class="uk-input" type="password" placeholder="Password">
            </div>
            <div class="uk-margin">
              <button @click="login()" class="uk-button uk-button-default">Login</button>
              <button @click="registerCard = true" class="uk-button uk-button-default">Register</button>
            </div>
          </div>
          <!-- Register Card -->
          <div id="registerCard" v-if="registerCard" class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title">Register</h3>
            <!-- Username -->
            <div class="uk-margin">
              <input v-model="user.username" class="uk-input" type="text" placeholder="Username">
            </div>
            <!-- Password -->
            <div class="uk-margin">
              <input v-model="user.password" class="uk-input" type="password" placeholder="Password">
            </div>
            <!-- Password Confirm -->
            <div class="uk-margin">
              <input v-model="user.passwordConfirm" class="uk-input" type="password" placeholder="Confirm Password">
            </div>
            <!-- Email -->
            <div class="uk-margin">
              <input v-model="user.email" class="uk-input" type="text" placeholder="Email (optional)">
              <p class="uk-text-meta">(Email is only used for resetting your password)</p>
            </div>
            <!-- Buttons -->
            <div class="uk-margin">
              <button @click="registerCard = false" class="uk-button uk-button-default">Back</button>
              <button @click="register()" class="uk-button uk-button-default">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="%% url_for('static', filename='js/login.js') %%"></script>
</body>

</html>
