<nav class="uk-navbar-container" uk-navbar>
  <!-- Nav Items -->
  <div class="uk-navbar-left uk-margin-left">
    <ul class="uk-navbar-nav">
      <li>
        <a href="/">Dashboard</a>
      </li>
      <li>
        <a href="/configure">Configure</a>
      </li>
      <li>
        <a href="/procedures">Procedures</a>
      </li>
    </ul>
  </div>
  <!-- Configuration select -->
  <div class="uk-navbar-right">
    <div class="container uk-margin-right">
      <select v-model="configurationSelect" id="configurationSelect" class="uk-select">
        <option selected="selected">Select a Configuration</option>
        <option v-for="config in configs" :value="config.name">{{ config.name }}</option>
      </select>
    </div>
  </div>
</nav>
