<!-- Navbar -->
<nav class="uk-navbar-container" uk-navbar>
  <!-- Nav Items -->
  <div class="uk-navbar-left uk-margin-left">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">Configure</a>
      </li>
      <li>
        <a href="#">Procedures</a>
      </li>
    </ul>
  </div>
  <!-- Configuration select -->
  <div class="uk-navbar-right">
    <div class="container uk-margin-right">
      <select id="configurationSelect" class="uk-select">
        <option>Select a Configuration</option>
      </select>
    </div>
  </div>
</nav>
