<!DOCTYPE html>
<html>

<head>
  {% include 'header.html' %}
  <title>Procedures</title>
  {% include 'sources.html' %}

  <script>
    Middleware.restrictTo('brewer')
  </script>

  <style>
    .step-card.active {
      background-color: red;
    }
    .cursor:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div id="procedures">
    <main-navbar @select-config="selectConfig($event)"></main-navbar>

    <div class="uk-section">
      <div class="uk-container">
        <div class="uk-grid-divider" uk-grid>
          <div class="uk-width-1-2@m">
            <div class="uk-align-left">
              <div class="uk-margin ">
                <label for="procedureSelect">Select a Procedure</label>
                <select v-model="procSelect" class="uk-select" id="procedureSelect">
                  <option value="">Create a New One</option>
                  <option v-for="proc in procs" :value="proc.id">{{ proc.name }}</option>
                </select>
              </div>
              <div class="uk-margin">
                <input v-if="!procSelect" type="text" class="uk-input" placeholder="New Procedure Name">
              </div>
              <div class="uk-margin">
                <button @click="saveProc" class="uk-button uk-button-primary">Save</button>
              </div>
            </div>
          </div>
          <div class="uk-width-1-2@m">
            <p>Procedures are step-by-step instructions that automate some of the tasks in brewing. A procedure can be
              pre-programmed to save time later. Steps will run in order. Select the configuration you'll be using in
              the navbar above and start adding steps.</p>
          </div>
        </div>
      </div>
    </div>

    <div v-if="proc.id" class="uk-section uk-section-muted">
      <div class="uk-container">
        <div class="uk-grid-divider" uk-grid>
          <!-- Steps column -->
          <div class="uk-width-1-4@m">
            <p class="uk-text-lead">Steps</p>
            <div uk-sortable="group: step-keys">
              <!-- Step Cards -->
              <div v-for="step in proc.steps" @click="selectStep(step)" class="uk-margin">
                <div :id="step.id + 'Card'" class="uk-card step-card cursor uk-card-default uk-card-body uk-card-small">
                  <dl>
                    <dt>{{ step.name }}</dt>
                    <dd class="uk-text-truncate">{{ step.comments }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <!-- Selected Step Column -->
          <div class="uk-width-expand@m">
            <div v-if="step.id">
              <!-- Name and Comments -->
              <div class="uk-section">
                <!-- Name Display -->
                <p v-show="!showTitleInput" id="stepTitle" @click="showTitleInput = true" class="uk-text-lead cursor  uk-heading-bullet uk-heading-divider">{{ step.name }}</p>
                <!-- Name Form -->
                <div v-show="showTitleInput" class="uk-margin">
                  <input id="stepTitleInput" v-model="step.name" @blur="showTitleInput = false" type="text" class="uk-input uk-form-large">
                </div>
                <!-- Comments display -->
                <p @click="showCommentsInput = true" v-if="!showCommentsInput" class="cursor">{{ step.comments }}</p>
                <!-- Comments Form -->
                <div v-if="showCommentsInput" class="uk-margin">
                  <textarea v-model="step.comments" @blur="showCommentsInput = false" class="uk-textarea">{{ step.comments }}</textarea>
                </div>
              </div>
              <!-- Tools -->
              <div class="uk-section">
                <p class="uk-text-lead uk-heading-bullet uk-heading-divider">Tools</p>
              </div>
              <!-- Configuration -->
              <div class="uk-section">
                <p class="uk-text-lead uk-heading-bullet">Configuration</p>
                <device-summary :editable="true" :compact="true" :devices="step.config.devices"></device-summary>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="%% url_for('static', filename='js/procedures.js') %%"></script>
</body>

</html>
