<!-- JS -->
<script src="%% url_for('static', filename='js/libs/cookie.js') %%"></script>
<script src="%% url_for('static', filename='js/guid.js') %%"></script>
<script src="%% url_for('static', filename='js/libs/jquery.min.js') %%"></script>
<script src="%% url_for('static', filename='js/libs/socket.io.min.js') %%"></script>
<script src="%% url_for('static', filename='js/socket.js') %%"></script>
<script src="%% url_for('static', filename='js/libs/vue.js') %%"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
<script src="%% url_for('static', filename='js/libs/uikit.min.js') %%"></script>
<script src="%% url_for('static', filename='js/libs/uikit-icons.min.js') %%"></script>
<script src="%% url_for('static', filename='js/libs/moment.min.js') %%"></script>
<script src="%% url_for('static', filename='js/slack.js') %%"></script>
<script src="%% url_for('static', filename='js/middleware.js') %%"></script>
<script src="%% url_for('static', filename='js/libs/font-awesome.js') %%"></script>


<!-- CSS -->
<link rel="stylesheet" href="%% url_for('static', filename='css/uikit.min.css') %%">
<link rel="stylesheet" href="%% url_for('static', filename='css/styles.css') %%">

<!-- Components -->
<script src="%% url_for('static', filename='js/components/navbar.js') %%"></script>
<script src="%% url_for('static', filename='js/components/thermo_chart.js') %%"></script>
<script src="%% url_for('static', filename='js/components/device_summary.js') %%"></script>
